In [5]:

                     #1)Training and Testing
  #Feature Engineering2)Feature selection
                     #3)Feature Encoding
                     #4)Feaure Standardization
                     #5)

In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score,matthews_corrcoef,classification_report,roc_curve

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [3]:
df = pd.read_csv('C:/Users/Ayush S/Downloads/carclaims.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/Ayush S/Downloads/carclaims.csv'

In [ ]:
df

In [ ]:
#Feature Selection
#Here, you need to divide given columns into two types of variables dependent(or target variable) and independent variable(or feature variables).

In [ ]:
#Now we are supposed to do label encoding. Labe

In [ ]:
#check missing Values
print(f"This dataframe contain missing values = {df.isnull().sum().sum()}")

In [ ]:
#check duplications
df.duplicated().sum()

In [4]:
#check Volume of each classes
sns.countplot(x=df['FraudFound'])
plt.title("Non-Fraud Vs Fraud Counts")
plt.show()

NameError: name 'df' is not defined

In [10]:
number_fraud = len(df[df['FraudFound']=='Yes'])
number_fraud

923

In [11]:
#Check Minority class 
percent = (number_fraud / df.shape[0]) * 100
print(f"fraud detected are {percent:.2f} % of all data points")

fraud detected are 5.99 % of all data points

In [12]:
#check rows and Columns
print(f"This dataframe contain {df.shape[0]} rows")
print(f"This dataframe contain {df.shape[1]} columns")

This dataframe contain 15420 rows
This dataframe contain 33 columns

In [13]:
#df.drop("Unnamed: 42",axis=1, inplace=True)

In [14]:
df

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy,FraudFound
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,...,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability,No
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,...,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision,No
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,...,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision,No
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,...,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability,No
4,Jan,5,Monday,Honda,Urban,Tuesday,Feb,2,Female,Single,...,31 to 35,No,No,External,none,no change,1 vehicle,1994,Collision,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15415,Nov,4,Friday,Toyota,Urban,Tuesday,Nov,5,Male,Married,...,31 to 35,No,No,External,none,no change,1 vehicle,1996,Collision,Yes
15416,Nov,5,Thursday,Pontiac,Urban,Friday,Dec,1,Male,Married,...,31 to 35,No,No,External,more than 5,no change,3 to 4,1996,Liability,No
15417,Nov,5,Thursday,Toyota,Rural,Friday,Dec,1,Male,Single,...,26 to 30,No,No,External,1 to 2,no change,1 vehicle,1996,Collision,Yes
15418,Dec,1,Monday,Toyota,Urban,Thursday,Dec,2,Female,Married,...,31 to 35,No,No,External,more than 5,no change,1 vehicle,1996,All Perils,No
15419,Dec,2,Wednesday,Toyota,Urban,Thursday,Dec,3,Male,Single,...,26 to 30,No,No,External,1 to 2,no change,1 vehicle,1996,Collision,Yes

In [15]:
from sklearn.preprocessing import LabelEncoder
Month=LabelEncoder()
df['Month']=Month.fit_transform(df['Month'])
df['Month']

0         2
1         4
2        10
3         6
4         4
         ..
15415     9
15416     9
15417     9
15418     2
15419     2
Name: Month, Length: 15420, dtype: int32

In [16]:
from sklearn.preprocessing import LabelEncoder
DayOfWeek=LabelEncoder()
df['DayOfWeek']=DayOfWeek.fit_transform(df['DayOfWeek'])
df['DayOfWeek']

0        6
1        6
2        0
3        2
4        1
        ..
15415    0
15416    4
15417    4
15418    1
15419    6
Name: DayOfWeek, Length: 15420, dtype: int32

In [17]:
from sklearn.preprocessing import LabelEncoder
Make=LabelEncoder()
df['Make']=Make.fit_transform(df['Make'])
df['Make']

0         6
1         6
2         6
3        17
4         6
         ..
15415    17
15416    13
15417    17
15418    17
15419    17
Name: Make, Length: 15420, dtype: int32

In [18]:
from sklearn.preprocessing import LabelEncoder
AccidentArea=LabelEncoder()
df['AccidentArea']=AccidentArea.fit_transform(df['AccidentArea'])
df['AccidentArea']

0        1
1        1
2        1
3        0
4        1
        ..
15415    1
15416    1
15417    0
15418    1
15419    1
Name: AccidentArea, Length: 15420, dtype: int32

In [19]:
from sklearn.preprocessing import LabelEncoder
DayOfWeekClaimed=LabelEncoder()
df['DayOfWeekClaimed']=DayOfWeekClaimed.fit_transform(df['DayOfWeekClaimed'])
df['DayOfWeekClaimed']

0        6
1        2
2        5
3        1
4        6
        ..
15415    6
15416    1
15417    1
15418    5
15419    5
Name: DayOfWeekClaimed, Length: 15420, dtype: int32

In [20]:
from sklearn.preprocessing import LabelEncoder
MonthClaimed=LabelEncoder()
df['MonthClaimed']=MonthClaimed.fit_transform(df['MonthClaimed'])
df['MonthClaimed']

0         5
1         5
2        10
3         6
4         4
         ..
15415    10
15416     3
15417     3
15418     3
15419     3
Name: MonthClaimed, Length: 15420, dtype: int32

In [21]:
from sklearn.preprocessing import LabelEncoder
WeekOfMonthClaimed=LabelEncoder()
df['WeekOfMonthClaimed']=WeekOfMonthClaimed.fit_transform(df['WeekOfMonthClaimed'])
df['WeekOfMonthClaimed']

0        0
1        3
2        1
3        0
4        1
        ..
15415    4
15416    0
15417    0
15418    1
15419    2
Name: WeekOfMonthClaimed, Length: 15420, dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder
Sex=LabelEncoder()
df['Sex']=Sex.fit_transform(df['Sex'])
df['Sex']

0        0
1        1
2        1
3        1
4        0
        ..
15415    1
15416    1
15417    1
15418    0
15419    1
Name: Sex, Length: 15420, dtype: int32

In [23]:
from sklearn.preprocessing import LabelEncoder
MaritalStatus=LabelEncoder()
df['MaritalStatus']=MaritalStatus.fit_transform(df['MaritalStatus'])
df['MaritalStatus']

0        2
1        2
2        1
3        1
4        2
        ..
15415    1
15416    1
15417    2
15418    1
15419    2
Name: MaritalStatus, Length: 15420, dtype: int32

In [24]:
from sklearn.preprocessing import LabelEncoder
Fault=LabelEncoder()
df['Fault']=Fault.fit_transform(df['Fault'])
df['Fault']

0        0
1        0
2        0
3        1
4        1
        ..
15415    0
15416    0
15417    0
15418    1
15419    0
Name: Fault, Length: 15420, dtype: int32

In [25]:
from sklearn.preprocessing import LabelEncoder
PolicyType=LabelEncoder()
df['PolicyType']=PolicyType.fit_transform(df['PolicyType'])
df['PolicyType']

0        5
1        4
2        4
3        2
4        4
        ..
15415    1
15416    2
15417    1
15418    0
15419    1
Name: PolicyType, Length: 15420, dtype: int32

In [26]:
from sklearn.preprocessing import LabelEncoder
VehicleCategory=LabelEncoder()
df['VehicleCategory']=VehicleCategory.fit_transform(df['VehicleCategory'])
df['VehicleCategory']

0        1
1        1
2        1
3        1
4        1
        ..
15415    0
15416    1
15417    0
15418    0
15419    0
Name: VehicleCategory, Length: 15420, dtype: int32

In [27]:
from sklearn.preprocessing import LabelEncoder
VehiclePrice=LabelEncoder()
df['VehiclePrice']=VehiclePrice.fit_transform(df['VehiclePrice'])
df['VehiclePrice']

0        5
1        5
2        5
3        0
4        5
        ..
15415    0
15416    1
15417    0
15418    0
15419    0
Name: VehiclePrice, Length: 15420, dtype: int32

In [28]:
from sklearn.preprocessing import LabelEncoder
Days_Policy_Accident=LabelEncoder()
df['Days_Policy_Accident']=Days_Policy_Accident.fit_transform(df['Days_Policy_Accident'])
df['Days_Policy_Accident']

0        3
1        3
2        3
3        3
4        3
        ..
15415    3
15416    3
15417    3
15418    3
15419    3
Name: Days_Policy_Accident, Length: 15420, dtype: int32

In [29]:
    
from sklearn.preprocessing import LabelEncoder
Days_Policy_Claim=LabelEncoder()
df['Days_Policy_Claim']=Days_Policy_Claim.fit_transform(df['Days_Policy_Claim'])
df['Days_Policy_Claim']

0        2
1        2
2        2
3        2
4        2
        ..
15415    2
15416    2
15417    2
15418    2
15419    2
Name: Days_Policy_Claim, Length: 15420, dtype: int32

In [30]:
from sklearn.preprocessing import LabelEncoder
PastNumberOfClaims=LabelEncoder()
df['PastNumberOfClaims']=PastNumberOfClaims.fit_transform(df['PastNumberOfClaims'])
df['PastNumberOfClaims']

0        3
1        3
2        0
3        0
4        3
        ..
15415    1
15416    2
15417    2
15418    3
15419    3
Name: PastNumberOfClaims, Length: 15420, dtype: int32

In [31]:
from sklearn.preprocessing import LabelEncoder
AgeOfVehicle=LabelEncoder()
df['AgeOfVehicle']=AgeOfVehicle.fit_transform(df['AgeOfVehicle'])
df['AgeOfVehicle']

0        1
1        4
2        5
3        6
4        3
        ..
15415    4
15416    4
15417    3
15418    0
15419    3
Name: AgeOfVehicle, Length: 15420, dtype: int32

In [32]:
from sklearn.preprocessing import LabelEncoder
AgeOfPolicyHolder=LabelEncoder()
df['AgeOfPolicyHolder']=AgeOfPolicyHolder.fit_transform(df['AgeOfPolicyHolder'])
df['AgeOfPolicyHolder']

0        3
1        4
2        6
3        7
4        4
        ..
15415    4
15416    4
15417    3
15418    4
15419    3
Name: AgeOfPolicyHolder, Length: 15420, dtype: int32

In [33]:
from sklearn.preprocessing import LabelEncoder
PoliceReportFiled=LabelEncoder()
df['PoliceReportFiled']=PoliceReportFiled.fit_transform(df['PoliceReportFiled'])
df['PoliceReportFiled']

0        0
1        1
2        0
3        1
4        0
        ..
15415    0
15416    0
15417    0
15418    0
15419    0
Name: PoliceReportFiled, Length: 15420, dtype: int32

In [34]:
from sklearn.preprocessing import LabelEncoder
WitnessPresent=LabelEncoder()
df['WitnessPresent']=WitnessPresent.fit_transform(df['WitnessPresent'])
df['WitnessPresent']

0        0
1        0
2        0
3        0
4        0
        ..
15415    0
15416    0
15417    0
15418    0
15419    0
Name: WitnessPresent, Length: 15420, dtype: int32

In [35]:
from sklearn.preprocessing import LabelEncoder
AgentType=LabelEncoder()
df['AgentType']=AgentType.fit_transform(df['AgentType'])
df['AgentType']

0        0
1        0
2        0
3        0
4        0
        ..
15415    0
15416    0
15417    0
15418    0
15419    0
Name: AgentType, Length: 15420, dtype: int32

In [36]:
from sklearn.preprocessing import LabelEncoder
NumberOfSuppliments=LabelEncoder()
df['NumberOfSuppliments']=NumberOfSuppliments.fit_transform(df['NumberOfSuppliments'])
df['NumberOfSuppliments']

0        3
1        3
2        3
3        2
4        3
        ..
15415    3
15416    2
15417    0
15418    2
15419    0
Name: NumberOfSuppliments, Length: 15420, dtype: int32

In [37]:
from sklearn.preprocessing import LabelEncoder
AddressChange_Claim=LabelEncoder()
df['AddressChange_Claim']=AddressChange_Claim.fit_transform(df['AddressChange_Claim'])
df['AddressChange_Claim']

0        0
1        3
2        3
3        3
4        3
        ..
15415    3
15416    3
15417    3
15418    3
15419    3
Name: AddressChange_Claim, Length: 15420, dtype: int32

In [38]:
from sklearn.preprocessing import LabelEncoder
NumberOfCars=LabelEncoder()
df['NumberOfCars']=NumberOfCars.fit_transform(df['NumberOfCars'])
df['NumberOfCars']

0        2
1        0
2        0
3        0
4        0
        ..
15415    0
15416    2
15417    0
15418    0
15419    0
Name: NumberOfCars, Length: 15420, dtype: int32

In [39]:
from sklearn.preprocessing import LabelEncoder
BasePolicy=LabelEncoder()
df['BasePolicy']=BasePolicy.fit_transform(df['BasePolicy'])
df['BasePolicy']

0        2
1        1
2        1
3        2
4        1
        ..
15415    1
15416    2
15417    1
15418    0
15419    1
Name: BasePolicy, Length: 15420, dtype: int32

In [40]:
from sklearn.preprocessing import LabelEncoder
FraudFound=LabelEncoder()
df['FraudFound']=FraudFound.fit_transform(df['FraudFound'])
df['FraudFound']

0        0
1        0
2        0
3        0
4        0
        ..
15415    1
15416    0
15417    1
15418    0
15419    1
Name: FraudFound, Length: 15420, dtype: int32

In [41]:

from sklearn.preprocessing import LabelEncoder
AddressChange_Claim=LabelEncoder()
df['AddressChange_Claim']=FraudFound.fit_transform(df['AddressChange_Claim'])
df['AddressChange_Claim']

0        0
1        3
2        3
3        3
4        3
        ..
15415    3
15416    3
15417    3
15418    3
15419    3
Name: AddressChange_Claim, Length: 15420, dtype: int64

In [42]:
df

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy,FraudFound
0,2,5,6,6,1,6,5,0,0,2,...,3,0,0,0,3,0,2,1994,2,0
1,4,3,6,6,1,2,5,3,1,2,...,4,1,0,0,3,3,0,1994,1,0
2,10,5,0,6,1,5,10,1,1,1,...,6,0,0,0,3,3,0,1994,1,0
3,6,2,2,17,0,1,6,0,1,1,...,7,1,0,0,2,3,0,1994,2,0
4,4,5,1,6,1,6,4,1,0,2,...,4,0,0,0,3,3,0,1994,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15415,9,4,0,17,1,6,10,4,1,1,...,4,0,0,0,3,3,0,1996,1,1
15416,9,5,4,13,1,1,3,0,1,1,...,4,0,0,0,2,3,2,1996,2,0
15417,9,5,4,17,0,1,3,0,1,2,...,3,0,0,0,0,3,0,1996,1,1
15418,2,1,1,17,1,5,3,1,0,1,...,4,0,0,0,2,3,0,1996,0,0
15419,2,2,6,17,1,5,3,2,1,2,...,3,0,0,0,0,3,0,1996,1,1

In [43]:
df

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy,FraudFound
0,2,5,6,6,1,6,5,0,0,2,...,3,0,0,0,3,0,2,1994,2,0
1,4,3,6,6,1,2,5,3,1,2,...,4,1,0,0,3,3,0,1994,1,0
2,10,5,0,6,1,5,10,1,1,1,...,6,0,0,0,3,3,0,1994,1,0
3,6,2,2,17,0,1,6,0,1,1,...,7,1,0,0,2,3,0,1994,2,0
4,4,5,1,6,1,6,4,1,0,2,...,4,0,0,0,3,3,0,1994,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15415,9,4,0,17,1,6,10,4,1,1,...,4,0,0,0,3,3,0,1996,1,1
15416,9,5,4,13,1,1,3,0,1,1,...,4,0,0,0,2,3,2,1996,2,0
15417,9,5,4,17,0,1,3,0,1,2,...,3,0,0,0,0,3,0,1996,1,1
15418,2,1,1,17,1,5,3,1,0,1,...,4,0,0,0,2,3,0,1996,0,0
15419,2,2,6,17,1,5,3,2,1,2,...,3,0,0,0,0,3,0,1996,1,1

In [44]:
X = df.drop('FraudFound', axis = 1)
y = df['FraudFound']

In [45]:
#df["Age_group"]=pd.cut(df.age, bins=[18,34,59,60,100], labels=["18-21", "22-25","34-59","60+"])
#df["Age_group"]

In [46]:
# splitting data into training set and test set

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state=0)

In [47]:
X_train

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy
6398,11,3,6,17,1,1,12,2,0,3,...,5,4,0,0,0,0,3,0,1995,0
4655,6,4,6,6,1,1,7,3,1,2,...,7,0,0,0,0,3,3,0,1994,1
8103,1,3,6,9,1,2,12,1,0,1,...,5,4,0,0,0,0,3,0,1995,0
8436,10,3,2,2,1,2,11,2,1,1,...,5,6,0,0,0,3,3,0,1995,1
3046,8,3,0,9,1,7,12,0,1,1,...,5,6,0,0,0,0,3,0,1994,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13123,1,3,2,9,1,2,2,3,1,1,...,5,8,0,0,0,3,3,0,1996,2
3264,8,3,0,9,1,2,9,3,1,1,...,5,5,0,0,0,3,1,0,1994,1
9845,6,4,1,13,1,7,12,4,1,1,...,5,5,0,0,0,3,3,0,1995,0
10799,1,2,6,17,1,7,2,1,1,1,...,6,6,0,0,0,0,3,0,1995,1
2732,0,1,6,6,1,7,1,0,1,1,...,6,6,0,0,0,3,3,0,1994,2

In [48]:
y_train

6398     1
4655     1
8103     0
8436     0
3046     0
        ..
13123    0
3264     1
9845     0
10799    0
2732     0
Name: FraudFound, Length: 10794, dtype: int32

In [49]:
# Scaling the numeric values in the dataset

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_data = scaler.fit_transform(X_train)

In [50]:
from sklearn.ensemble import RandomForestClassifier

rand = RandomForestClassifier(criterion= 'entropy', max_depth= 10, max_features= 'sqrt', min_samples_leaf= 1, min_samples_split= 3, n_estimators= 140)
rand.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', max_depth=10, max_features='sqrt',
                       min_samples_split=3, n_estimators=140)

In [51]:
y_pred = rand.predict(X_test)

In [52]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [53]:
#y_train = rand.predict(y_test)

In [54]:
#y_train

In [55]:
# accuracy_score, confusion_matrix and classification_report

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

rand_train_acc = accuracy_score(y_train, rand.predict(X_train))
rand_test_acc = accuracy_score(y_test, y_pred)

print(f"Training accuracy of Random Forest is : {rand_train_acc}")
print(f"Test accuracy of Random Forest is : {rand_test_acc}")

print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

Training accuracy of Random Forest is : 0.9434871224754493
Test accuracy of Random Forest is : 0.9409857328145266
[[4350    0]
 [ 273    3]]
              precision    recall  f1-score   support

           0       0.94      1.00      0.97      4350
           1       1.00      0.01      0.02       276

    accuracy                           0.94      4626
   macro avg       0.97      0.51      0.50      4626
weighted avg       0.94      0.94      0.91      4626

In [56]:
import pickle 
with open('rand_pickle', 'wb') as f:
    rand.dump(rand,f)

AttributeError: 'RandomForestClassifier' object has no attribute 'dump'

In [ ]:
predictions_train=dec.predict(X_test)

In [ ]:
predictions_test=dec.predict(X_test)

In [ ]:
predictions_train

In [ ]:
predictions_test

In [ ]:
score_train=dec.score(X_test, y_test)

In [ ]:
score_train

In [ ]:
score_test=dec.score(X_train, y_train)

In [ ]:
score_test

In [ ]:
import pickle

In [ ]:
with open('log_pickle', 'wb') as f:
    pickle.dump(lg,f)

In [ ]:
X_train,X_test, y_train, y_test= train_test_split(X, y, test_size=0.3, )

In [ ]:
X_train

In [ ]:
y_test

In [ ]:
#Now label encoding it

In [ ]:
X

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
standard= StandardScaler()

In [ ]:
X_train= standard.fit_transform(X_train)

In [ ]:
X_train

In [ ]:
from sklearn import tree

In [ ]:
model= tree.DecisionTreeClassifier()

In [ ]:
model.fit(X, y)

In [ ]:
X_train

In [ ]:
y_train

In [ ]:
model1 = model.fit(X_train,y_train)

In [ ]:
model1

In [ ]:
model.score(X_test, y_test)

In [ ]:
#model.predict([[1,6,4,4,6]])

In [ ]:
X.dtypes

In [ ]:
clf_entropy= DecisionTreeClassifier(criterion = 'entropy', random_state=100, max_depth=3, min_samples_leaf=4)

In [ ]:
clf_entropy

In [ ]:
clf_entropy.fit(X_train, y_train)

In [ ]:
X['YearsSinceLastPromotion']

In [ ]:
pip install -U scikit-learn scipy matplotlib

In [ ]:
!pip install scikit-learn

In [ ]:
!pip install sklearn

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
log=LogisticRegression()
log.fit(X_train, y_train)

In [ ]:
print(log.predict(x_))